@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Roboto&display=swap');

:root {
    /* colors */
    --clr-absolute-light: #f5f5f5;
    --clr-absolute-dark: #333333;
    
    --clr-primary-dark: #333333;
    --clr-primary-light: #f5f5f5;
    --clr-primary-purple: #8A2BE2;
    --clr-secondary-purple: #6d4693;
    --clr-container: rgba(245, 245, 245, 0.6);
    --clr-wrong: #ff8f8f;
    --clr-box-shadow: #292929;

    /* fonts */
    --fnt-title: 'Dosis', sans-serif;
    --fnt-primary: 'Roboto', sans-serif;
    --fnt-size-title : 4rem;
    --fnt-size-subtitle: 2.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fnt-primary);
}
 
body {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    line-height: 1.2;
    background-color: var(--clr-primary-light);
    color: var(--clr-primary-dark);
    transition: all .6s .2s ease-in-out;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: var(--fnt-title);
}

h1 {
    margin-bottom: 0;
    font-size: var(--fnt-size-title);
    line-height: 1;
}

h2 {
    margin: 0 auto .2em;
    font-size: var(--fnt-size-subtitle);
}

p {
    padding: 1em;
    text-align: center;
}

.dark {
    --clr-primary-dark: #f5f5f5;
    --clr-primary-light: #333333;
    --clr-container: rgba(51, 51, 51, 0.6);

    /*****
    shapes
    *****/

    --clr-shapes-1: rgba(104, 72, 150, 0.6);
    --clr-shapes-2: rgba(57, 136, 120, 0.6);
    --clr-shapes-3: rgba(156, 65, 114, 0.6);
    --clr-shapes-4: rgba(82, 158, 145, 0.6);
    --clr-shapes-5: rgba(138, 43, 226, 0.6);
}

/***** 
nav 
*****/

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: .5rem 2rem 0;
    width: 100vw;
    border-radius: 0 0 5px 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 8px 2px var(--clr-box-shadow);
}

nav .header-logo {
    text-decoration: none;
    transition: all .2s ease-in-out;
}

nav span {
    font-family: var(--fnt-title);
    font-size: 1.6rem;
    color: #333333;
}

nav .header-logo:hover {
    transform: scale(1.1);
}
  
#contrast {
    width: 4%;
    align-self: center;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

#contrast:hover {
    background-color: var(--clr-primary-purple);
    transform: scale(1.2);
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 10px;
    width: 75vw;
    border-radius: 5px;
    background-color: var(--clr-container);
    box-shadow: 0 0 8px 2px var(--clr-box-shadow);
}

/*****
Start Page
******/

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline {
    height: 0.25rem;
    width: 5rem;
    background: linear-gradient(var(--clr-primary-purple) 0%, var(--clr-secondary-purple) 100%);
    margin: 0 auto 0.67em;
}

#start-btn {
    margin-bottom: .67rem; 
    padding: 2rem;
    width: 80%;
    font-size: 1.5rem;
    color: #f5f5f5;
    background: linear-gradient(var(--clr-primary-purple) 0%, var(--clr-secondary-purple) 100%);
}

/*****
Question Card
******/

.status-bar {
    padding: .5rem;
}

.status-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.status-bar p {
    margin: 0;
    padding: 0;
}

.status-bar span {
    font-family: var(--fnt-title);
    font-size: 1.5rem;
}

.question-number {
    padding: .5rem;
    font-family: var(--fnt-title);
    font-size: 5rem;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1.3rem;
}

.btn { 
    margin-top: 1rem;
    padding: 1rem;
    font-size: 0.875rem;
    border-radius: 5px;
    outline: none;
    background-color: none;
    box-shadow: 0 1px 3px var(--clr-box-shadow);
    transition: all .2s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #f5f5f5;
    background: linear-gradient(var(--clr-primary-purple) 0%, var(--clr-secondary-purple) 100%);
    transform: scale(1.1);
}

.next-btn {
    padding: .5rem;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.16em;
    color: var(--clr-primary-light);
    background-color: var(--clr-primary-dark);
}

/*****
Results Page
******/

.results-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 11rem;
    height: 11rem;
    font-family: var(--fnt-title);
    font-size: var(--fnt-size-title);
    color: var(--clr-absolute-light);
    border-radius: 50%;
    background: linear-gradient(var(--clr-primary-purple) 0%, var(--clr-secondary-purple) 100%);
    box-shadow: 0 0 3px 1px var(--clr-box-shadow);
}

.score {
    margin: 0 auto;
}

#high-score-input {
    margin: 1.5rem auto;
}

#high-score-input .form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

#high-score-input label {
    margin-right: 10px;
    white-space: nowrap;
    font-family: var(--fnt-title);
    font-size: 1.6rem;
}

#high-score-input input {
    flex-grow: 1;
    padding: .5rem;
    height: 3rem;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid var(--clr-primary-dark);
    box-shadow: 0 0 3px 0 var(--clr-box-shadow);
    font-family: var(--fnt-primary);
    font-size: 1.6rem;
}

#high-score-input input:active,
#high-score-input input:focus {
    outline: none;
    background-color: rgba(138, 43, 226, .15);
    box-shadow: 0 0 8px 0 var(--clr-box-shadow);
}

.submit {
    margin-left: 1rem;
    padding: 1rem;
    font-size: 0.875rem;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--clr-primary-dark);
    box-shadow: 0 1px 3px var(--clr-box-shadow);
    transition: all .2s ease-in-out;
}

.submit:hover,
.submit:focus,
.submit:active {
    color: #f5f5f5;
    background: linear-gradient(var(--clr-primary-purple) 0%, var(--clr-secondary-purple) 100%);
    transform: scale(1.1);
}

#high-score-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

#high-score-list li {
    margin: .2rem auto;
    padding: 1rem;
    width: 75%;
    list-style: none;
    text-align: center;
    font-family: var(--fnt-title);
    font-size: 1.6rem;
    color: var(--clr-primary-light);
    border-radius: 5px;
    background-color: var(--clr-primary-dark);
    box-shadow: 0 0 8px 0 var(--clr-box-shadow);
}

#high-score-list li:hover,
#high-score-list li:focus,
#high-score-list li:active {
    transform: translateY(-5px);
    box-shadow: 0 0 5px 3px var(--clr-primary-purple);
}

.hide {
    display: none;
}

@media only screen and (min-width: 768px) {

    #contrast {
        width: 2%;
    }
}